* {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.09em;
    font-family: serif;
}


body {
    background-color: rgb(18, 18, 18);
    margin: 0;
    max-height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    background-color: rgb(18, 18, 18);
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    background-color: rgb(31, 31, 31);
}

aside section {
    background-color: rgb(44, 44, 44);
}

button {
    width: 100%;
    color: #BB86FC;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255 ,0.07);
}

p {
    text-align: center;
    margin: 0;
}

article {
    display: flex;
    flex-basis: 50%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 16px;
    min-width: 54%;
    max-width: 54%;
    min-height: 96%;
    max-height: 96%;
}

.connect_four_column {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
}

.connect_four_element, .connect_four_element_Y, .connect_four_element_R {
	height: 100%;
    margin: 2px;
    cursor: pointer;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.11);
}

.connect_four_element {
    background-color: inherit;

}

.connect_four_element:hover {
    background-color: rgba(255, 255, 255, 0.14);
}

.connect_four_element_Y {
    background-color: rgba(255, 195, 0, 0.65);
}

.connect_four_element_R {
    background-color: rgba(255, 0, 0, 0.45);
}

.multiplayer {
    display: none;
}

.reset_request {
    color: rgba(0, 255, 0, 0.45);;
}





