* {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.89);
    font-size: 1.09em;
    font-family: serif;
}

html {
    max-height: 100%;
}

body {
    background-color: rgb(18, 18, 18);
    margin: 0;
    max-height: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    background-color: rgb(18, 18, 18);
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.side_panel {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 8px;
}

.side_panel button, .clickable {
    background-color: rgba(255, 255, 255, 0.09);
    border: none;
    border-radius: 8px;
    margin: 1px 0;
}

p {
    text-align: center;
    margin: 0;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

#back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
}

#connect_four {
    display: flex;
    flex-basis: 50%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 16px;
    min-width: 54%;
    max-width: 54%;
    min-height: 96%;
    max-height: 96%;
}

.connect_four_column {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
}

.connect_four_element, .connect_four_element_Y, .connect_four_element_R {
	height: 100%;
    margin: 2px;
    cursor: pointer;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.15);
}

.connect_four_element {
    background-color: rgb(18, 18, 18);

}

.connect_four_element:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.connect_four_element_Y {
    background-color: rgba(255, 195, 0, 0.65);
}

.connect_four_element_R {
    background-color: rgba(255, 0, 0, 0.45);
}


