<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/entry.css">
    <title>Connect Four</title>
</head>
<body>
    <section title="Entry Form" id="entry_form">
            <fieldset title="Username Form" id="username_form">
                <label for="username">Username</label>
                <input id="username" autocomplete="off">
                <button type="button" onclick="set_username()" id="submit_username">
                    Play
                </button>
            </fieldset>
            <menu title="Game Mode" id="mode_form">
                <li><label for="mode_form">Connect Four Modes</label></li>
                <li><p id="current_players"></p></li>
                <li><button type="button" name="mode" value=0 onclick="mode(this)">Single Player</button></li>
                <li><button type="button" name="mode" value=1 onclick="mode(this)">Multi Player</button></li>
            </menu>
            <p id="looking_for">Looking for another player...</p>
    </section>
    <main title="Connect Four Board">
        <aside>
            <section>
            <p id="display_username">Username: Not Connected</p>
            <p id="colour" class="multiplayer_button">Your Colour: </p>
            </section>
            <button type="button" onclick="send_command('reset')">Reset</button>
        </aside>
        <article>
            {% for column in board %}
                {% set column_loop = loop %}
                <section class="connect_four_column">
                    {% for element in column %}
                        {% if element == player_one %}
                            <button class="connect_four_element_Y" id="{{ column_loop.index0 }},{{ loop.index0 }}"
                                    onclick="send_command('add', {{ column_loop.index0 }})"></button>
                        {% elif element == player_two %}
                            <button class="connect_four_element_R" id="{{ column_loop.index0 }},{{ loop.index0 }}"
                                    onclick="send_command('add', {{ column_loop.index0 }})"></button>
                        {% else %}
                            <button class="connect_four_element" id="{{ column_loop.index0 }},{{ loop.index0 }}"
                                    onclick="send_command('add', {{ column_loop.index0 }})"></button>
                        {% endif %}
                    {% endfor %}
                </section>
            {% endfor %}
        </article>
        <aside>
            <section>
            <p id="opponent">Opponent: </p>
            <p id="player">Current Player:
                {% if player %}{{ player_one_name }}{% else %}{{ player_two_name }}{% endif %}</p>
            <p id="winner">Winner: {% if winner %}{{ winner }}{% else %}None{% endif %}</p>
            </section>
        </aside>
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
<script src="/static/main.js"></script>

</html>