<html lang="en">
<head>
    <link rel="stylesheet" href="/static/connect_four.css">
    <title>Connect Four</title>
</head>
<body>
<form action="" method="post" id="position_form">
    <input type="hidden" name="position" id="position_input">
</form>
<div id="settings">
    <button type="button">Reset</button>
</div>
<div id="connect_four">
    {% for column in board %}
        {% set column_loop = loop %}
        <div class="connect_four_column">
        {% for element in column %}
            {% if element == player_one %}
                <button class="connect_four_element_player_one" onclick="send_position({{ column_loop.index0 }})">{{ element }}</button>
            {% elif element == player_two %}
                <button class="connect_four_element_player_two" onclick="send_position({{ column_loop.index0 }})">{{ element }}</button>
            {% else %}
                <button class="connect_four_element" onclick="send_position({{ column_loop.index0 }})">{{ element }}</button>
            {% endif %}

        {% endfor %}
        </div>
    {% endfor %}
</div>
<div id="board">
    <button type="button">Reset</button>
</div>
</body>
<script src="/static/connect_four.js"></script>
</html>