<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/entry_page.css">
    <title>Connect Four</title>
</head>
<body>
    <form method="post" action="" class="mode_form">
        <div class="background">
            <p>Connect Four Modes</p>
            <button type="submit" name="mode" value="" class="clickable mode_buttons">Singleplayer</button>
            <button type="submit" name="mode" value="Multiplayer" class="clickable mode_buttons">Multiplayer</button>
        </div>
    </form>
    <div class="main cover">
<div id="connect_four">
    {% for column in board %}
        {% set column_loop = loop %}
        <div class="connect_four_column">
        {% for element in column %}
            <button class="connect_four_element" id="{{column_loop.index0}},{{loop.index0}}"></button>
        {% endfor %}
        </div>
    {% endfor %}
</div>
    </div>
</body>
</html>